
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
*{
  font-family: 'Rubik', sans-serif!important;
}

input{
  border-radius: 2px!important;
  border: 1px solid gray!important;
  height: 40px!important;
}
input:focus{
  outline:none!important;
  box-shadow:none !important;
  border: 1px solid gray!important;
}
label{
  font-size:16px !important;
  color: black;
}
.ant-form-items{
  margin:10px 0 !important;
}
.Primary-button{
  background-color: darkgreen!important;
  border-color: chartreuse!important;
  height:40px!important;
  width: 370px;
  color: white!important;
  font-size: 16px!important;
}
.anchor{
  color: black!important;
  text-decoration: underline!important;
  font-size: 16px!important;
}
.anchor:hover{
  text-decoration: underline!important;
}
.card-title{
  font-size:1.5rem;
  font-weight:bold;
}
.normal-text{
  font-size: 1rem;
}


.card{
  box-shadow: 0 0 2px gray;
  border-radius: 0 !important;
}



.authentication{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
}
.authentication-form{
  width: 400px;
}
.authentication .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orangered;
  color: white!important;
  max-width:max-content!important ;
  padding:7px 15px;
  margin-left: -40px;
  border-bottom-left-radius: 10px;
}
